
__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
dist/


.env
.venv/
venv/
conda-meta/


.ipynb_checkpoints/

.vscode/
.idea/

*.log
logs/
*.out
*.err
slurm-*.out
slurm-*.err


results/


*.sdf
*.mol2
*.pdbqt
*.mae
*.maegz


*.pt
*.pth
*.ckpt
*.npz
*.npy
*.pkl
*.lmdb



# local models (do not commit)
/data/models/
